/*搜索框*/
.search-cart {
    position: absolute;
    top: 40px;
    left: 700px;
}
.search-text-cart {
    width: 285px;
    height: 30px;
    border: 2px solid #e2231a;
    padding-left: 15px;
    color: #adadae;
}
.search-btn-cart {
    width: 60px;
    height: 34px;
    background-color: #e1251b;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
/*购物车*/
.cart-filter-bar {
    margin-top: 10px;
}
.switch-cart {

}
.switch-cart a{
    display: inline-block;
    color: #E2231A;
    height: 26px;
    line-height: 26px;
    padding: 0 0 10px;
    cursor: pointer;
    margin: 5px 30px 0 0;
    border-bottom: 1px solid #E2231A;
}
.switch-cart a em {
    font-weight: 700;
    font-size: 16px;
}
.switch-cart .number {
    font-size: 14px;
    font-weight: 700;
}
/*购物车信息*/
.cart-thead {
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px;
    background-color: #f3f3f3;
    padding: 5px 0;
    border: 1px solid #e9e9e9;
    border-top: 0
}
.hp-cart .column {
    float: left;
}
/*购物车表头*/
.t-checkbox {
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
    width: 122px;
    padding-left: 11px;
}
.cart-checkbox {
    margin-right: 5px;
}
.hpcheckbox {
    vertical-align: middle;
    margin: 0px 4px 0px 0px;
}
.t-goods {
    width: 208px;
}
.t-props {
    width: 240px;
    height: 32px;
}
.t-price {
    width: 140px;
    padding-right: 60px;
    text-align: right;
}
.t-quantity {
    width: 100px;
    text-align: center;
}
.t-sum {
    width: 120px;
    padding-right: 60px;
    text-align: right;
}
.t-action {
    width: 95px;
}

/*购物车商品列表*/
.cart-item-list {
    margin-bottom: 20px;
}
.shop {
    height: 30px;
    line-height: 30px;
    padding-left: 11px;
    font-weight: 700;
}
.item-list {
    border-style: solid;
    border-width: 2px 1px 1px;
    border-color: #aaa #f1f1f1 #f1f1f1;
    background: #fff
}
.item-item {
    padding: 0px 0px 1px 40px;
    position: relative;
    background: #fff;
}

.item-item .p-checkbox {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    min-height: 10px;
}
.item-item .cell {
    float: left;
    padding: 15px 0 10px;
}
.p-goods {
    width: 300px;
    overflow: hidden;
}
.item-item .p-img {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    margin-right: 10px;
    background: #fff;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
.item-item .p-img img {
    width: 80px;
    height: 80px;
}
.item-item .p-name {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.item-item .p-props {
    width: 130px;
    line-height: 20px;
    overflow: hidden;
    padding: 15px 0 0 20px;
}
.item-item .props-txt {
    width: 139px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item-item .p-price {
    width: 240px;
    padding-right: 40px;
    font-family: verdana;
    text-align: right;
    overflow: hidden;
}
.item-item .p-quantity {
    width: 80px;
    margin-left: 20px;
}
.item-item .p-quantity .quantity-form {
    position: relative;
    overflow: hidden;
    height: 22px;
    width: 80px;
}
.itxt {
    position: absolute;
    left: 16px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    color: #333;
    -webkit-appearance: none;
}
.decrement,.increment {
    border: 1px solid #cacbcb;
    height: 18px;
    line-height: 18px;
    padding: 1px 0;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
}

.item-item .p-sum {
    width: 140px;
    padding-right: 50px;
    text-align: right;
}
.item-item .p-action {
    width: 130px;
}
.item-item .p-action a{
    display: block;
}
/*浮动条*/
.floatbar {
    margin: 20px 0px;
    position: relative;
}
.floatbar .selectall {
    float: left;
    height: 18px;
    *width: 60px;
    line-height: 18px;
    padding: 16px 0 16px 9px;
    white-space: nowrap;
}
.floatbar .operation {
    height: 50px;
    width: 310px;
    line-height: 50px;
    margin-left: 10px;
}
.floatbar .floatbar-right {
    height: 52px;
    position: absolute;
    right: 0px;
    top: -1px;
    width: 720px;
}
.btn-area a{
    display: block;
    width: 94px;
    height: 52px;
    line-height: 52px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    background: #e54346;
    overflow: hidden;
}
.floatbar-right .price-sum {
    float: right;
    height: 43px;
    line-height: 20px;
    margin: 7px 5px 0 10px;
    color: #666;
}
.floatbar-right .price-sum .txt {
    width: 50px;
    float: left;
    text-align: right;
}
.floatbar-right .price-sum .price-new span {
    font-size: 16px;
    color: #E2231A;
    font-weight: 70;
    font-weight: 700;
}
.floatbar-right .amount-sum {
    color: #999;
    height: 44px;
    line-height: 20px;
    margin: 7px 0 0;
    cursor: pointer;
}
.floatbar-right .amount-sum em {
    color: #E2231A;
    font-family: verdana;
    font-weight: 700;
    margin: 0 3px;
}
